.navbarBanner{
    background-color: #232f3e;
    padding: 0 0 0 11px;
    display: flex;
    height: 39px;
    justify-content: space-between;
    color: white;
}

.navbarBannerOptionsLeft{
    display: flex;

}

.optionsNavbarBanner{
    display: flex;
    gap: 2px;
    padding: 5px 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        border-radius: 5px;
        border: 2px solid;
    }
    /* background-color:chocolate ; */
    
}

.allOptionsNavbarBanner{
    font-size: 14px;
    padding-left: 1px;
    font-weight: 400;
    width: max-content;
}