.cart{
    background-color: whitesmoke;
    padding: 20px 18px 18px;
    display: flex;
    gap: 10px;
    /* height: 100%;
    width: 100%;
    box-sizing: border-box; */
}

.topLeftCart{
    padding: 20px 15px 15px;
    box-sizing: border-box;
    width: 77%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.topLeftCartTitle{
    font-size: 25px;
    font-weight: 500;
}
.desellectAllCart{
    color: darkgreen;
}
.cartPriceTextDivider{
    text-align: end;
}

.cartItemsDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cartItemBlock{
    display: flex;   
    justify-content:space-between;
    padding: 20px; 
    border-top: 1px solid #e7e7e7;   
}
.cartItemLeftBlock{
    display: flex;
    width: 80%;
}
.cartItemLeftBlockImage{
    width: 20%;
    flex-shrink: 0;
}
.cartItemLeftBlockImg{
    width: 100%;
}

.cartItemLeftBlockDetails{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 6px;
}
.cartItemProductName{
    font-size: 18px;
}
.instock{
    color: #007600;
    font-weight: 600;
}
.elgFreeshp{
    color: #565959;
    font-size: 12px;
}
.removeFromCart{
    padding: 5px;
    background-color: #febd69;
    width: fit-content;
    font-weight: 600;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}