.productPage{
    width: 100%;
    background-color: white;
}
.productTopBanner{
    display: flex;
    height: 50px;
    box-shadow: 0 0 1px #747474;
    padding: 0 9px 0 15px;
    gap: 25px;
}
.productTopBannerItems{
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
 }
 .productTopBannerItemsSubMenu{
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
     &:hover{
    text-decoration: underline;
    text-decoration-color: #febd69;
    text-decoration-thickness: 1px;
 }
 }

 .productsPageMain{
    display: flex;
    padding: 16px 8px;
 }
 .productPageMainLeftCategory{
    width: 14%;
    border-right: 2px solid #ddd;
    padding: 0 10px;
 }
 .productsPageMainLeftCategoryTitle{
    font-size: 14px;
    font-weight: 700;
 }
 .productsPageMainLeftCategoryContent{
    margin-top: 10px;
    font-size: 14px;
    gap: 10px;
    display: flex;
    flex-direction: column;
 }
 .productsPageMainLeftCategoryContentSub{
   font-weight: 600;
 }
 .ratingLeftBox{
   display: flex;
 }

 .andUp{
   font-size: 12px;
   font-weight: 400;
   margin-left: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
 }


 /* products page right side content */

.productsPageMainRight{
   width: 86%;
   padding: 0 0 0 12px;
}

.productsPageMainRightTopBanner{
   width: 99%;
   box-sizing: border-box;
   border: 1px solid #ccc;
   padding: 14px 38px;
   border-radius: 5px;
   margin: 20px 0;
   font-size: 14px;
}
.productsPageMainRightTopBannerSpan{
   color:#c45500;
   font-weight: 700;
}

.itemsImageProductPage{
   width: 100%;
   display: grid;
   gap: 100px;
   grid-template-columns: 308px 308px 308px;
}
.itemsImageProductPageOne{
   display: flex;
   flex-direction: column;
   width: 100%;
   border-radius: 5px;
   box-sizing: border-box;
   align-items: center;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: rgb(247, 247, 247);
   padding: 40px 20px;
}
.productImageProduct{
   width: 100%;
   height: 260px;
}
.productNameProduc{
   display: flex;
   flex-direction: column;
}
.productNameProductRating{
   display: flex;
   margin: 10px 0px;
}
.priceProductDetailPage{
   display: flex;
}
.currencyText{
   font-size: 13px;
}
.price{
   font-size: 25px;
   font-weight: 700;
}