.productPage{
    width: 100%;
}
.productTopBanner{
    display: flex;
    height: 50px;
    box-shadow: 0 0 1px #747474;
    padding: 0 9px 0 15px;
    gap: 25px;
}
.productTopBannerItems{
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
 }